/*-- scss:defaults --*/

$body-bg: #FEF7EC;
$body-color: #0065a9;
$navbar-bg: #0065a9;
$navbar-color: #ffffff;
$link-color: #4FA9DC;
$code-block-bg: #eaeef2;

/*-- scss:rules --*/

.header-section-number {
  color: #0093f5;
}

// You can add custom CSS rules here if needed

